.ace_sticky-content {
    position: fixed;
    /* height: fit-content; */
    background-color: #242630;
    pointer-events: unset;
    box-shadow: 0px 3px 6px #00000040;
}

.ace_sticky-content .ace_indent-guide {
    border: none;
}

.ace_sticky-content .ace_line {
    background-color: #242630;
    pointer-events: all;
}